<ul role="list" class="divide-y divide-gray-100 ml-8">
  <li>
    <div class="relative flex justify-between p-4 bg-white my-4 border">
      <div class="flex gap-x-4 pr-6 sm:w-1/2 sm:flex-none">
        <div class="min-w-0 flex-auto">
          <p class="text-sm font-semibold leading-6 text-gray-900">
            <%= parent.name%>
          </p>
          <p class="mt-1 flex text-xs leading-5 text-gray-500">
            <a href="mailto:leslie.alexander@example.com" class="relative truncate hover:underline">leslie.alexander@example.com</a>
          </p>
        </div>
      </div>
      <div class="flex items-center justify-between gap-x-4 sm:w-1/2 sm:flex-none">
        <div class="hidden sm:block">
          <%= link_to("ルールを追加する", new_dashboard_clinic_ivr_rule_item_path(current_clinic, item_id: parent.id)) %>      
        </div>
        <%= link_to("編集する", edit_dashboard_clinic_ivr_rule_item_path(current_clinic, parent.id)) %>      
      </div>
    </div>
    <% if parent.has_children? %>
      <% parent.children.each do |child| %>
        <%= render partial: 'tree', locals: { parent: child } %>
      <% end %>
    <% end %>
  </li>
</ul>
